{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Online Price Finder</h1>
                        <form action="search" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" name="query" id="search-bar" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                                <button type="submit" class="input-group-text" id="search-icon"><span class="fas fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="card mx-3 mb-5 p-3 row " >
            
            <h4> Suggestions</h4>
            <div  class="d-flex p-2 overflow-auto">
            {% for item in suggestions %}
                {% include 'snippits/product.html' %}
            {% endfor %}
            </div>

        </section>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
