{% extends "layouts/base.html" %}

{% block title %} Tracked Products List {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheets" href="{{ ASSETS_ROOT }}/vendor/DataTable/datatables.min.css" />
{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">List of Products Being Tracked</h1>
                    </div>
                </div>
                <div class="row">
                    <table class="table" id="trackingTable">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Old Price</th>
                                <th>Current Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img class="img-responsive" src="{{ ASSETS_ROOT }}/products/OIP.jpg" height="80px" width="auto" />
                                        <div>
                                            <h4>Razer Mouse</h4>
                                            <p>Description of Product</p>
                                        </div>
                                    </div>
                                </td>
                                <td>&#8377;1200</td>
                                <td>&#8377;1200</td>
                                <td>
                                    <a href="#" class="btn btn-warning">
                                        <span>Open Product </span><i class="fas fa-sign-in-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{{ ASSETS_ROOT }}/vendor/DataTable/datatables.min.js"></script>
    <script>
        $(function(){
            $('#trackingTable').DataTable();
        })
    </script>
{% endblock javascripts %}
